.vs/Software_Project_2DGame/v15/Server/sqlite3/storage.ide-wal
.vs/Software_Project_2DGame/v15/Server/sqlite3/storage.ide-shm
.vs/Software_Project_2DGame/v15/Server/sqlite3/storage.ide
.vs/Software_Project_2DGame/v15/Server/sqlite3/db.lock
